html{
    overflow-x: hidden;
}


body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

.logo{
    position:relative;
    left:85vh;

}
.topo{
    width: auto;
    background-color: rgb(26, 24, 24);
    
}
.perfil{
    float: right;
    width: 40vh;
    background-color: rgb(110, 109, 107);
    height: 43vw;
}

.foto_perfil{
    width: 110px;
    height: 110px;
    background-color: aqua;
    border-radius: 100px;
    position: absolute;
    margin-top: 50px;
    margin-left: 75px;
}
.foto_perfil p{
    margin-top: 115px;
    font-weight: bolder;
    color: white;
}

.foto_perfil a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
.foto_perfil a:hover{
    text-decoration: none;
    color: rgb(168, 10, 10);
    font-weight: bolder;
    
}

.icone {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    position: absolute;

}

.conteudo{
    float: left;
    width: 150vh;
    height: 40vw;
    margin: 10px 0 0 10px;
}
.conteudo p{
    white-space: normal;
}