

   html {overflow-x: hidden;
   }

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: #f1f2f6;
}



.configuracao {
    position: fixed;
    top: 0;
    float: left;
    background: #55efc4;
    padding: 5px;
    height: 100%;
    width: 17%;
    font-size: 20px;
}


.configuracao ul img {
    width: 30px;
    height: 30px;
}


.configuracao ul {
    list-style: none;
    padding-left: 12px;
}
.configuracao ul li a{
    text-decoration: none;
    color: black;
}


.div_total{
    margin-left: 18%;
}


.nome_painel {
    margin: 10px 30px 10px 30px;
    padding: 15px 15px 15px 15px;
    width: 74vw;
    height: 8vh;
    background: #55efc4;
    border-radius: 4px;
}
    



.grafico1 {
    border: solid;
    border-radius: 4px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    border: groove;
    background: #ffffff;
}
    
    
    .grafico2 {
    border: solid;
    border-radius: 4px;
    float: left;
    width: 500px;
    height: 450px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px;
    border: groove;
    background: #ffffff;

}

    
    .grafico3 {
    border: solid;
    border-radius: 4px;
    float: left;
    width: 500px;
    height: 400px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    border: groove;
    background: #ffffff;

}
    



    .grafico4 {
    border: solid;
    float: left;
    width: 768px;
    height: 460px;
    margin-top: 10px;
    margin-left: 150px;
    padding: 5px;
    border: groove; 
    background: #ffffff;
}


    
.grafico5 {
    border: solid;
    border-radius: 4px;
    float: left;
    width: 772px;
    height: 463px;
    margin-top: 10px;
    margin-left: 150px;
    padding: 5px;
    border: groove;
    background: #ffffff;
}



    
.grafico6 {
    border: solid;
    border-radius: 4px;
    float: left;
    width: 771px;
    height: 464px;
    margin-top: 10px;
    margin-left: 150px;
    padding: 5px;
    border: groove;
    background: #ffffff;
}


    
.grafico7 {
    border: solid;
    border-radius: 4px;
    float: left;
    width: 770px;
    height: 462px;
    margin-top: 10px;
    margin-left: 150px;
    padding: 5px;
    border: groove;
    background: #ffffff;
}