<link rel="stylesheet" href="/css/cadastro.css">
<script src="/js/cadastro.js"></script>

<div class="logo">
    <a href="/">
        <img src="/img/cadastro/seta-voltar-png.png" alt="">
    </a>
</div>


<div class="caixa_cadastro">

    <h1>Cadastre-se</h1>
    <input type="text" id="nome" placeholder="Nome completo"> <br>
        <input type="text" id="email" placeholder="E-mail"><br>
        <input type="text" id="cpf" placeholder="CPF"><br>
        <input type="text" id="telefone" placeholder="Celular"><br>
        <input type="text" id="endereco"placeholder="Endereço" class="endereco">
        <input type="text" id="numero" placeholder="Nº" class="n"><br>
        <input type="password" id="senha" placeholder="Senha"><br>
        <input type="password" id="confirmar_senha"placeholder="Confirmar senha">
    <br><br>
    <button onclick="cadastrar()" class="botao"> Cadastrar </button>
    <div id="mensagem" class="div_mensagem"></div>
</div>