<div id="div_configuracao" class="configuracao">

    <center> <img src="/img/dashboard/perfil1.png" alt="" width="100px" height="100px" style="margin-top: 50px; border-radius: 50%;"> </center><br><br><br>
    <ul>
        <li> <a href="/dashboard"><img src="/img/dashboard/icone_painel.png" alt=""> Painel de controle</li></a> <br>
        <li> <a href="/dashboard/perfil"><img src="/img/dashboard/icone_perfil.png" alt=""> Perfil</li></a> <br>
        <li> <a href="/dashboard/graficos"><img src="/img/dashboard/icone_grafico.png" alt=""> Gráficos</li></a> <br>
        <li> <a href="/dashboard/suporte"><img src="/img/dashboard/icone_suporte.png" alt=""> Suporte</li></a> <br>
        <li> <a href="/login"><img src="/img/dashboard/icone_sair.png" alt=""> Sair</li></a>
    </ul>
</div>


<div class="div_total">


    <div class="nome_painel">
                <a href="/dashboard"><img src="/img/dashboard/sino1.png" style="width: 70px; height: 40px; float: right"></a>
        <center>
            <h3>GRÁFICOS</h3>
        </center>
    </div>



    {{!-- <div id="chart_div" style="width: 93%; height: 500px;" class="grafico1">
    </div> --}}



    <div id="piechart_3d" alt=""  class="grafico2">
    </div>



    <div id="piechart_3d2" alt=""  class="grafico3">
    </div>




    <div class="grafico4">
        <img src="/img/dashboard/movimentacao-diaria.jpeg" alt="">

    </div>




    <div class="grafico5">
        <img src="/img/dashboard/media-mensal.jpeg" alt="">
    </div>


    <div class="grafico6">

        <img src="/img/dashboard/movimentacao-horario-diario.jpeg" alt="">

    </div>


    <div class="grafico7">
        <img src="/img/dashboard/movimentacao-horario-mensal.jpeg" alt="">
    </div>

</div>

<link rel="stylesheet" href="/css/dashGraficos.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/dashGraficos.js"></script>
<script src="/js/dashGraficos2.js"></script>