<div id="div_configuracao" class="configuracao">

    <center> <img src="/img/dashboard/perfil1.png" alt="" width="100px" height="100px" style="margin-top: 50px; border-radius: 50%;"> </center><br><br><br>
    <ul>
        <li> <a href="/dashboard"><img src="/img/dashboard/icone_painel.png" alt=""> Painel de controle</li></a> <br>
        <li> <a href="/dashboard/perfil"><img src="/img/dashboard/icone_perfil.png" alt=""> Perfil</li></a> <br>
        <li> <a href="/dashboard/graficos"><img src="/img/dashboard/icone_grafico.png" alt=""> Gráficos</li></a> <br>
        <li> <a href="/dashboard/suporte"><img src="/img/dashboard/icone_suporte.png" alt=""> Suporte</li></a> <br>
        <li> <a href="/login"><img src="/img/dashboard/icone_sair.png" alt=""> Sair</li></a>
    </ul>
</div>


<div class="div_total">


    <div class="nome_painel">
        <a href="/dashboard"><img src="/img/dashboard/sino.png" style="width: 70px; height: 40px; float: right"></a>
        <center>
            <h3>GERENCIAR SEU PERFIL</h3>
        </center>
    </div>



    <div class="cadastro">

        Nome completo: <input type="text" placeholder="Smart Parking"> <br><br><br>
        {{!-- E-mail: <b>smartparking@contato.com.br</b> <br><br><br> --}}
        CPF: <b>399.***.***-18</b> <br><br><br>
        Telefone: <input type="text" placeholder="(11) 2731-3168"> <br><br><br>
        Endereço: <input type="address" placeholder="Rua: Haddock Lobo"> <br><br><br>
        Nº: <input type="number"> <br><br><br><br><br><br><br><br><br><br>

        <button>Salvar alterações</button>
        <button style="background: #e22900;">Cancelar</button>

    </div>




    <div class="redefinir_senha">

        <h2>Alterar senha</h2>
        <input type="password" placeholder="senha atual"> <br><br>
        <input type="password" placeholder="nova senha"> <br><br>
        <input type="password" placeholder="confirmar nova senha"> <br><br>

        <button>Alterar senha</button>

    </div>

</div>

<link rel="stylesheet" href="/css/dashPerfil.css">
<script src="/js/dashPerfil.js"></script>