<div class="logo">
    <a href="/">
        <img src="/img/login/seta-voltar-png.png" alt=""></a>
</div>

<div class="caixa_login">

    <h1>Entre</h1>

    <input type="text" id="email_login" placeholder="E-mail" autofocus><br>
    <input type="password" id="senha_login" placeholder="Senha"><br>

    <br>
    <br>
    <button class="botao" id="login"> Login </button>
    <br>
    <br>
    <a style="margin-left: 40%; text-decoration: none; color: whitesmoke"
        href="/novasenha">
        Esqueci a senha</a>
    <br>
    <br>
    <div id="mensagem" class="d_mensagem"></div>
</div>

<link rel="stylesheet" href="/css/login.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/login.js"></script>