<div class="logo">
    <a href="/login">
        <img src="/img/login/seta-voltar-png.png" alt=""></a>
</div>

<div class="caixa_login">

    <h1>Cadastrar nova senha</h1>

    <input type="password" id="n_sen" placeholder="Nova Senha" autofocus><br>
    <input type="password" id="c_sen" placeholder="Confirmar Senha"><br>

    <br>
    <br>
    <button onclick="analisar()"> Enviar </button>
    <br>
    <br>
    <center><div id="mensagem" ></div></center>
</div>

<link rel="stylesheet" href="/css/novasenha.css">
<script src="/js/novasenha.js"></script>